<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--七牛的相关配置-->
    <add key="QiniuScope" value="" />
    <add key="QiniuUrl" value="" />
    <add key="QiniuAccessKey" value="" />
    <add key="QiniuSecretKey" value="" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
</configuration>