<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context" xsi:schemaLocation="
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
		http://www.springframework.org/schema/context  http://www.springframework.org/schema/context/spring-context-4.0.xsd">
	
	<description>Shiro Configuration</description>
	
	<!-- 加载配置属性文件 -->
	<context:property-placeholder ignore-unresolvable="true" location="classpath:demo.properties" />
	
	<!-- 定义安全管理配置 -->
	<bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
		<property name="realm" ref="userRealm" />
		<property name="sessionManager" ref="defaultWebSessionManager" />
		<!-- <property name="cacheManager" ref="shiroCacheManager" /> -->
	</bean>
	<bean id="userRealm" class="org.xs.demo1.UserRealm"></bean>
	
	<!-- 自定义会话管理 -->
	<bean id="defaultWebSessionManager" class="org.apache.shiro.web.session.mgt.DefaultWebSessionManager">    
        <!-- 会话超时时间，单位：毫秒 -->
        <property name="globalSessionTimeout" value="86400000" />
        <!-- 定时清理失效会话, 清理用户直接关闭浏览器造成的孤立会话 -->
        <property name="sessionValidationInterval" value="120000"/>
        <!-- 定时检查失效的会话 -->
         <property name="sessionValidationSchedulerEnabled" value="true"/>
    </bean>
	
	<!-- 安全认证过滤器 -->
	<bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
		<property name="securityManager" ref="securityManager" />
		<property name="loginUrl" value="/hello/login" />
		<property name="unauthorizedUrl" value="/hello/login" />
		<property name="successUrl" value="/hello/mysql" />
		<property name="filterChainDefinitions">
			<value>
				/hello/login = anon
				/hello/auth = anon
				/hello/* = authc
			</value>
		</property>
	</bean>
	
	<!-- 保证实现了Shiro内部lifecycle函数的bean执行 -->  
	<bean id="lifecycleBeanPostProcessor" class="org.apache.shiro.spring.LifecycleBeanPostProcessor"/>
</beans>